<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200805530561-ukvm0053geq1dbu5ef8idav4vgeq3r2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200805530561-ukvm0053geq1dbu5ef8idav4vgeq3r2s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>200805530561-vmgge93cu39mjc3cl9boot1js38c3pur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgBe64Jkng0DcG20iydIfdK2LLm69rork</string>
	<key>GCM_SENDER_ID</key>
	<string>200805530561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyc.tycMobile</string>
	<key>PROJECT_ID</key>
	<string>tyc-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tyc-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200805530561:ios:989e0d1528e77848eb8d40</string>
</dict>
</plist>